doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="https://use.typekit.net/hcj8ppk.css")
    link(rel="stylesheet" href="style.css")
    link(rel="icon" type="image/png" href="favicon.png" sizes="32x32")
    title GeishaBoy.tf
  body
    header
      div(class="logo_area")
        h1 GeishaBoy.tf
      div(class="progress")
        h2=`${geishas.collected}/${geishas.total}`
        div(class="progress_bar")
          div(class="progress_bar_inner")
            div(class="progress_bar_current" style=`width: ${100 / geishas.total * geishas.collected}%`)
        span Geisha Boys Collected
      nav
        a(class="flex_center large_button" href=url.backpack) Backpack.tf
          ol
            each pos in ["tl", "tr", "bl", "br"]
              li(class=`cross_${pos}`)
        a(class="flex_center large_button" href=url.steam) Steam
          ol
            each pos in ["tl", "tr", "bl", "br"]
              li(class=`cross_${pos}`)
    main(data-key-to-euro-conversion=key_price_eu)
      - for (let i = 0; i < series.length; ++i)
        - for (let j = 0; j < series[i].effects.length; ++j)
          - const geisha = series[i].effects[j];
            li(class=`${geisha.collected ? "" : "missing"}`
               style=`background-image:url(img/particles/${geisha.id}.png)`
               data-effect=geisha.name data-series=series[i].name
               data-buying-price=`${geisha.price ? geisha.price : "0"}`)
              a(href=`https://backpack.tf/item/${geisha.item_id}`)
    footer
      span.series
      span.effect
    div.credit Unusual particle images created by #[a(href=url.bp_credit) backpack.tf]
    script(src="js/geisha.js")
    script(type="text/javascript").
      if (window_width > 600) {
        window.addEventListener("resize", () => {
          window_width = window.innerWidth;
          window_height = window.innerHeight;
          resize(#{geishas.total})
        }, false);
        resize(#{geishas.total});
        set_footer_default_text();
      }